
<form action="/triangle">

    <div class='form-group'>
      <label for="Side1">Side 1</label>
      <input  name="Side1" class='form-control' type='number' value="@Model.Side1">
    </div>
    <div class='form-group'>
      <label for="Side2">Side 2</label>
      <input  name="Side2" class='form-control' type='number' value="@Model.Side2">
    </div>
    <div class='form-group'>
      <label for="Side3">Side 3</label>
      <input  name="Side3" class='form-control' type='number' value="@Model.Side3">
    </div>
  <input type="submit" name="submit" value="SUBMIT TRIANGLE">
</form>
